.centrocabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-transform: none;
    text-decoration: none;
    color: beige;
}

a{
    color: rgb(253, 94, 165);
}

#logodiv{
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 174, 200) ;
}

#logo{
    background-size: contain;
    width: 180px;
    height: 90px;    
}

.cabecalho{
    display: flex;
    background-color: rgb(255, 174, 200) ;
    justify-content: space-around;
    width: 97%;
    height: 100px;
    align-items: center;
}

.usuario{
    display: flex;    
}

#carrinho{
    background-color: rgb(255, 174, 200);
    margin-right: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

#conta{
    background-color: rgb(255, 174, 200);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

button{
    color: white;
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(255, 174, 200);
}

#search{
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(252, 235, 177);   
}

i{
    color: white;
}

.centro{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    margin-bottom: 25px;
}

#relatorios{
    background-color: rgb(238, 204, 231);
    width: 200px;
    text-align: center;
}

#produtos{
    width: 700px;
    box-shadow: 3px 3px  20px rgb(229, 225, 220);
    padding-bottom: 80px;
}

h2{
    text-align: center;
}

#p1{
    margin-left: 140px;
}

.imgproduto{
    width: 50px;
    height: 50px;
}

#titulos{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 530px;
}

.produto{
    display: flex;
    justify-content: space-around;
    border-top: dotted rgb(167, 197, 198) 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#estrelafooter{
    background-image: url(images/estrela.webp);
    background-repeat: repeat;
    width: 97%;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer{
    background-color: rgb(252, 235, 177) ;
    width: 97%;
    height: 100px;
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
}

#logorodape{
    width: 200px;
    height: 90px;
}

.pagamentos{
    width: 35px;
    height: 30px;    
}

.subrodape{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#subfooter{
    background-color: rgb(238, 204, 231) ;
    width: 97%;
    height: 125px;
    padding-top: 0px;
    margin-bottom: 5px;
}

li{
    list-style-type: none;
    text-shadow: 1px 1px grey;
}

.linkrodape{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight:bold;
}

.selos{
    width: 95px;
    height: 40px;
}

#pagamento1{
    display: flex;
}

#pagamento2{
    display: flex;
}

.textorodape{
    color: white;
    text-shadow: 2px 2px grey;
}