
.centrocabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-transform: none;
    text-decoration: none;
    color: beige;
}

a{
    color: rgb(253, 94, 165);
    text-decoration:none;
}

p{
    font-weight: normal;
}

#logodiv{
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 174, 200) ;
}

#logo{
    background-size: contain;
    width: 180px;
    height: 90px;    
}

.cabecalho{
    display: flex;
    background-color: rgb(255, 174, 200) ;
    justify-content: space-around;
    width: 97%;
    height: 100px;
    align-items: center;
}

.usuario{
    display: flex;    
}

#carrinho{
    background-color: rgb(255, 174, 200);
    margin-right: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

#conta{
    background-color: rgb(255, 174, 200);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

button{
    color: white;
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(255, 174, 200);
}

#search{
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(252, 235, 177);
}

i{
    color: white;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    margin-top: 15px;
    width: 1199px;
    height: 150px;
}

#primeiracoluna{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#segundacoluna{
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos{
    width: 250px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-left: 32px ;
    margin-right: 34px;
    margin-top: 20px;
    margin-bottom: 90px;
    box-shadow: 2px 2px 10px rgb(229, 225, 220);
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
}

#coelho{
    width: 100%;
    height: 100%;    
}

#diario{
    width: 100%;
    height: 100%;
}

#casinha{
    width: 100%;
    height: 100%;
}

#tamagotchi{
    width: 100%;
    height: 100%;
}

.produtos2{
    width: 250px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-left: 32px ;
    margin-right: 34px;
    margin-bottom: 90px;
    box-shadow: 2px 2px 10px rgb(229, 225, 220);
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
    font-weight: bold;    
}

#bolo{
    width: 100%;
    height: 100%;
}

#cachorro{
    width: 100%;
    height: 100%;
}

#quadro{
    width: 100%;
    height: 100%;
}

#carta{
    width: 100%;
    height: 100%;
}
h1 {
    font-weight: bolder;
    color: rgb(78, 30, 52);
}

p {
    color: rgb(78, 30, 52);
}

h2 {
    color: rgb(78, 30, 52);
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
    text-shadow: 2px 2px rgb(255, 255, 255);
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}


.conteudo {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 330px;
    box-shadow: 2px 2px 10px rgb(243, 64, 201);
}
#precobotao {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

#botao {
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 40px;
    margin-top: 5px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
    color: rgb(78, 30, 52);
    text-shadow: 2px 2px rgb(255, 255, 255);
    text-align: center;
}

#centro {
    display: flex;
    justify-content: space-evenly;
}

#sobre {
    width: 980px;
    height: 560px;
    background-color: rgb(252, 235, 177);
    margin-top: 25px;
    margin-bottom: 25px;
}

#sobrecentro {
    display: flex;
    justify-content: space-evenly;
}

#sobre2 {
    width: 887px;
    background-color: rgb(238, 204, 231);
    margin-top: 25px;
    justify-content: space-around;
    text-align: center;
}

#valores {
    display: flex;
    justify-content: space-evenly;
}

#missao {
    width: 420px;
    background-color: rgb(238, 204, 231);
    margin-top: 25px;
    justify-content: space-around;
    text-align: center;
}

#visao {
    width: 420px;
    background-color: rgb(238, 204, 231);
    margin-top: 25px;
    justify-content: space-around;
    text-align: center;
}

#valores2 {
    display: flex;
    justify-content: space-evenly;
}

#dev {
    width: 420px;
    background-color: rgb(238, 204, 231);
    margin-top: 25px;
    text-align: center;
}

.descricao {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#logoimg {
    width: 130px;
    height: 70px;
}

#imgmacaquinho {
    width: 50px;
}

#musa {
    width: 420px;
    background-color: rgb(238, 204, 231);
    margin-top: 25px;
    text-align: center;
}

.titulos {
    color: white;
    text-shadow: 2px 2px grey;
}

#estrelafooter{
    background-image: url(images/estrela.webp);
    background-repeat: repeat;
    width: 97%;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer{
    background-color: rgb(252, 235, 177) ;
    width: 97%;
    height: 100px;
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
}

#logorodape{
    width: 200px;
    height: 90px;
}

.pagamentos{
    width: 35px;
    height: 30px;    
}

.subrodape{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#subfooter{
    background-color: rgb(238, 204, 231) ;
    width: 97%;
    height: 125px;
    padding-top: 0px;
    margin-bottom: 5px;
}

li{
    list-style-type: none;
    text-shadow: 1px 1px grey;
} 

.linkrodape{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight:bold;
}

.selos{
    width: 95px;
    height: 40px;
}

#pagamento1{
    display: flex;
}

#pagamento2{
    display: flex;
}

/*pagina de registro/login */
#Login{
    background-color: rgb(252, 235, 177);
    box-shadow: 2px 5px 15px rgb(252, 235, 177);
    width: 500px;
    margin-bottom: 25px;
    text-align: center;
}

#registro{
    background-color:rgb(238, 204, 231) ;
    box-shadow: 2px 5px 15px rgb(238, 204, 231);
    width: 500px;
    height: 500px;
    margin-bottom: 25px;
    text-align: center;
}

.centrocabecalho-registro{
    display: flex;
    align-items: center;
    justify-content: center;
}

#dados{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

/*pagina de carrinho */
.centro-carrinho{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
#centralizar{
    width: 100%
}

#icone1 {
    color: rgb(93, 76, 119);
}

.titulos-carrinho {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr; /* Define as colunas de acordo com o conteúdo */
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin-left: 75px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
    padding: 10px 0;
}

.titulos-carrinho p {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.imageprod {
    display: flex;
    align-items: center; /* Alinha o texto e a imagem verticalmente */
}

.produtos-carrinho {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.produto-carrinho {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr; /* Define as colunas de acordo com o conteúdo */
    gap: 10px;
    border-top: solid rgb(180, 116, 139) 1px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.imagem {
    width: 90px;
    height: auto;
}

.numero {
    width: 60px;
    height: 30px;
    text-align: center; /* Alinha o número no centro */
}

.prodtitulo h5, .prodtitulo h6 {
    margin: 0;
    text-align: left;
}

.resumo {
    width: 300px;
    height: auto;
    background-color: rgb(238, 204, 231);
    box-shadow: 2px 5px 15px rgb(238, 204, 231);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#subtotal, #frete, #total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#subtotal p, #frete p, #total p {
    margin: 0;
}

/*pagina dashboard*/
#relatorios{
    background-color: rgb(238, 204, 231);
    width: 200px;
    text-align: center;
    margin-right: 100px;
}

#produtos{
    width: 700px;
    box-shadow: 3px 3px  20px rgb(229, 225, 220);
    padding-bottom: 80px;
}
.imgproduto{
    width: 50px;
    height: 50px;
}

#titulos{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 530px;
}

.produto{
    display: flex;
    justify-content: space-around;
    border-top: dotted rgb(167, 197, 198) 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*pagina novo produto*/
#relatorios-novo{
    background-color: rgb(238, 204, 231);
    width: 200px;
    text-align: center;
    margin-right: 200px;
}

#produto-novo{
    width: 500px;
    background-color: rgb(183, 230, 231);
    text-align: center;
    padding-bottom: 15px;
}


/* pagina pedido*/
.centro-pedido{
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    justify-content: center;
    
}
.produtos-pedido{
    background-color: rgb(238, 186, 202);
    width: 400px;
    height: 300px;
    margin-top: 25px;
    margin-right: 100px;
    padding: 15px;
    text-align: center;
}

#descricao-pedido{
    display: flex;
    border-bottom: solid rgb(167, 197, 198) 2px;
    justify-content: space-between;
}

.produto-pedido{
    display: flex;
    border-bottom: dotted rgb(167, 197, 198) 5px;
    justify-content: space-between;
}


.resumo-pedido{
    background-color: rgb(252, 235, 177);
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

.subtotal-pedido{
    display: flex;
    justify-content: space-between;

}


#total-pedido{
    display: flex;
    border-top: solid rgb(255, 174, 200) 2px;
    justify-content: space-between;
}

#endereço{
    width: 400px;
    height: 300px;
    background-color: rgb(238, 204, 231);
    text-align: center;
    margin-right: 40px;
}

#formapagamento{
    width: 400px;
    margin-left: 100px;
    background-color: rgb(183, 230, 231);
    text-align: center;
}

#debito{
    margin-bottom: 25px;
}

