.centrocabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-transform: none;
    text-decoration: none;
    color: beige;
}

a{
    color: rgb(253, 94, 165);
}

#logodiv{
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 174, 200) ;
}

#logo{
    background-size: contain;
    width: 180px;
    height: 90px;    
}

.cabecalho{
    display: flex;
    background-color: rgb(255, 174, 200) ;
    justify-content: space-around;
    width: 97%;
    height: 100px;
    align-items: center;
}

.usuario{
    display: flex;
}

#carrinho{
    background-color: rgb(255, 174, 200);
    margin-right: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

#conta{
    background-color: rgb(255, 174, 200);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;    
}

button{
    color: white;
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(255, 174, 200);
}

#search{
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(252, 235, 177);    
}

i{
    color: white;
}

.centro{
    display: flex;
    justify-content:space-around;
    margin-bottom: 25px;
}

.produtos{
    background-color: rgb(238, 186, 202);
    width: 400px;
    height: 300px;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
}

#descricao{
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(167, 197, 198) 2px;
}

#produto1{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted rgb(167, 197, 198) 5px;
}

#produto2{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted rgb(167, 197, 198) 5px;
}

#produto3{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted rgb(167, 197, 198) 5px;
}

.resumo{
    background-color: rgb(252, 235, 177);
    width: 400px;
    height: 300px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

#subtotal{
    display: flex;
    justify-content: space-between;
}

#frete{
    display: flex;
    justify-content: space-between;
}

#cupom{
    display: flex;
    justify-content: space-between;
}

#total{
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(255, 174, 200) 2px;
}

#endereço{
    width: 400px;
    height: 300px;
    background-color: rgb(238, 204, 231);
    justify-content: space-around;
    text-align: center;
}

#formapagamento{
    width: 400px;
    background-color: rgb(183, 230, 231);
    justify-content: space-around;
    text-align: center;
}

#debito{
    margin-bottom: 25px;
}

#estrelafooter{
    background-image: url(images/estrela.webp);
    background-repeat: repeat;
    width: 97%;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer{
    background-color: rgb(252, 235, 177) ;
    width: 97%;
    height: 100px;
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
}

#logorodape{
    width: 200px;
    height: 90px;
}

.pagamentos{
    width: 35px;
    height: 30px;    
}
.titulos{
    color: white;
    text-shadow: 2px 2px grey;
}
.subrodape{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#subfooter{
    background-color: rgb(238, 204, 231) ;
    width: 97%;
    height: 125px;
    padding-top: 0px;
    margin-bottom: 5px;
}

li{
    list-style-type: none;
    text-shadow: 1px 1px grey;
} 

.linkrodape{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight:bold;
}

.selos{
    width: 95px;
    height: 40px;
}

#pagamento1{
    display: flex;
}

#pagamento2{
    display: flex;
}