.centrocabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-transform: none;
    text-decoration: none;
    color: beige;
}

a{
    color: rgb(253, 94, 165);
    text-decoration:none;
}

p{
    font-weight: normal;
}

#logodiv{
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 174, 200) ;
}

#logo{
    background-size: contain;
    width: 180px;
    height: 90px;    
}

.cabecalho{
    display: flex;
    background-color: rgb(255, 174, 200) ;
    justify-content: space-around;
    width: 97%;
    height: 100px;
    align-items: center;
}

.usuario{
    display: flex;    
}

#carrinho{
    background-color: rgb(255, 174, 200);
    margin-right: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

#conta{
    background-color: rgb(255, 174, 200);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid rgb(167, 197, 198) 2px;
    color: white;
}

button{
    color: white;
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(255, 174, 200);
}

#search{
    border: solid rgb(167, 197, 198) 2px;
    background-color: rgb(252, 235, 177);
}

i{
    color: white;
}

h1{
    font-weight: bolder;
    color: rgb(78, 30, 52);
}

p{
    color:rgb(78, 30, 52) ;
}

h2{
    color: rgb(78, 30, 52);
}

.centro{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 330px;
    box-shadow: 2px 2px 10px rgb(183, 230, 231);
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#precobotao{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

#botao{
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 40px;
    margin-top: 5px;
    
}

#estrelafooter{
    background-image: url(images/estrela.webp);
    background-repeat: repeat;
    width: 97%;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer{
    background-color: rgb(252, 235, 177) ;
    width: 97%;
    height: 100px;
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pangolin', cursive;
}

#logorodape{
    width: 200px;
    height: 90px;
}

.pagamentos{
    width: 35px;
    height: 30px;    
}

.subrodape{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#subfooter{
    background-color: rgb(238, 204, 231) ;
    width: 97%;
    height: 125px;
    padding-top: 0px;
    margin-bottom: 5px;
}

li{
    list-style-type: none;
    text-shadow: 1px 1px grey;
} 

.linkrodape{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight:bold;
}

.selos{
    width: 95px;
    height: 40px;
}

#pagamento1{
    display: flex;
}

#pagamento2{
    display: flex;
}

.textorodape{
    color: white;
    text-shadow: 2px 2px grey;
}